html, body, * {
    font-family: "Open Sans", sans-serif;
}

body {
    display: none;
}

section {
    overflow: visible;
}

p {
    color: #808080;
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
}

.navbar {
    background-color: rgba(7, 51, 74, .2);
    padding: 25px 0;
    -webkit-transition: background-color .3s linear;
    -moz-transition: background-color .3s linear;
    -o-transition: background-color .3s linear;
    transition: background-color .3s linear;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(255,255,255,1);
    padding-left: 0;
    padding-right: 0;
    margin-right: 1rem;
    margin-left: 1rem;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-color .2s;
    -moz-transition: border-color .2s;
    -o-transition: border-color .2s;
    transition: border-color .2s;
}

.navbar-nav .nav-link:hover {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}

.navbar-toggler {
    padding: 0 .75rem;
    color: #ffffff;
    outline: none !important;
}

#intro {
    position: relative;
    background-image: url(/img/header-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 710px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#intro .bg-add {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/skos.png);
    background-repeat: repeat;
    background-position: -10% 0px;
    z-index: 100;
}

.container {
    position: relative;
    z-index: 120;
}

#intro .heading .h1-heading {
    font-weight: 300;
    font-size: 48px;
    line-height: 1.1;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 50px;
}

.btn-learn-more {
    margin-right: 20px;
}

.btn {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    color: #ffffff;
    border-radius: 0;
    padding: 20px 40px;
    border: 2px solid #ffffff;
    width: 200px;
}

.btn-transparent {
    color: #ffffff;
    background-color: transparent;
}

.btn-transparent:hover {
    color: #085977;
    background-color: #ffffff;
}

.btn-white {
    color: #085977;
    background-color: #ffffff;
}

.btn-white:hover {
    color: #ffffff;
    background-color: transparent;
}

#how-it-works {
    position: relative;
}

.h2-heading {
    font-size: 40px;
    font-weight: 300;
    color: #095573;
    margin-bottom: 70px;
}

#how-it-works .heading .content-text {
    overflow: hidden;
    margin-bottom: 75px;
}

#how-it-works .bg-before-white {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 100;
    transform: skewY(-5deg);
    transform-origin: top left;
    overflow: hidden;
}

#how-it-works .bg-before-img {
    position: absolute;
    top: -31%;
    left: 0;
    width: 100%;
    height: 105%;
    background-color: transparent;
    background-image: url(/img/abstract1.png);
    background-repeat: no-repeat;
    background-position: -3% 56%;
    z-index: 100;
    transform: skewY(5deg);
    transform-origin: top left;
}

.hiw-box {
    min-height: 300px;
    border: 1px solid #efefef;
    background-color: #ffffff;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.h4-heading {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.hiw-box .icon {
    margin-bottom: 30px;
}

.hiw-box .h4-heading {
    color: #095573;
    text-align: center;
    flex: 1;
}

.hiw-box .content-text {
    text-align: center;
}

.hiw-box .content-text p {
    font-size: 16px;
}

#content-creators {
    position: relative;
    padding: 9rem 0;
}

#content-creators .bg-grey-before {
    position: absolute;
    top: -5%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    z-index: 120;
    transform: skewY(4deg);
    transform-origin: top left;
    overflow: hidden;
}

#content-creators .bg-before-img {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url(/img/abstract3.png);
    background-repeat: no-repeat;
    background-position: 76% 4rem;
    z-index: 120;
    overflow: hidden;
}

#content-creators .heading .content-text {
    padding-right: 20%;
    margin-bottom: 30px;
}

.btn-blue {
    color: #095a79;
    border: 2px solid #095a79;
}

.btn-blue:hover {
    color: #ffffff;
    background-color: #095a79;
}

/*----Additional media query----*/

@media (min-width: 1280px) {
    .container {
        width: 1200px;
        max-width: 100%;
    }
}

/*----Main media query----*/

@media (max-width: 991.97px) {
    #navbarNav {
        margin-top: 2rem;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        display: inline-block;
        margin-left: 0;
        margin-right: 0;
    }
}